@using gabrieland.Client.Models
@code {
    //public TiposServicios? Tservicio { get; set; }
    [Parameter]
    public ServicioAdicional? Servicio { get; set; }
    [Parameter]
    public EventCallback<ServicioAdicional> OnEdit { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set;}
}

@if (Servicio is not null)
{
    <tr>
        <td>@Servicio.nombre</td>
        @switch (Servicio.TSO_ID_Tipo_Servicio)
{
    case 1:
        <td>Transporte</td>
        break;
    case 2:
        <td>AudioVisual</td>
        break;

    case 3:
        <td>Gastronomía</td>
        break;

    case 4:
        <td>Decoración</td>
        break;

    case 5:
        <td>Seguridad</td>
        break;

    default:
        <td>Live Event</td>
        break;
}
        <td>@Servicio.costo</td>
        <td class="text-end">
            <button class="btn btn-secondary me-2" @onclick="() => OnEdit.InvokeAsync(Servicio)">
                <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-secondary" @onclick="() => OnDelete.InvokeAsync(Servicio.ID_Servicios_Adicionales)">
                <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>
}




