@page "/"

<Hero />

<!-- Contenedor flex para slider + steps -->
<div class="home-main">
    <div class="home-slider">
        <Slider />
    </div>
    <div class="home-steps">
        <StepAccordion />
    </div>
</div>
