@page "/login"
@using gabrieland.Client.Components.Auth

<div class="register-wrapper w-100 min-vh-100">
    <div class="row g-0 w-100 h-100">
        <!-- Lado izquierdo: formulario -->
        <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
            <div class="card shadow w-100 p-5 d-flex flex-column justify-content-center align-items-center" style="max-width: 500px; height: 600px;">
                <h3 class="text-center mb-1">Inicio Sesión</h3>
                <p class="text-center text-muted mb-2">Por favor ingrese sus datos</p>
                <LoginForm />
            </div>
        </div>

        <!-- Lado derecho: imagen -->
        <div class="col-md-6 d-none d-md-block">
            <img src=".." class="img-fluid w-100 h-100 object-fit-cover" />
        </div>
    </div>
</div>
