<a href="/" class="home-icon-link">
    <img src="https://i.imgur.com/DIiFJZq.png"
         style="width:@Width; height:@Height;" alt="Home Icon" />
</a>

@code {
    [Parameter] public string Width { get; set; } = "50px";
    [Parameter] public string Height { get; set; } = "50px";
}
