<footer class="footer text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <!-- Logo y nombre -->
            <div class="col-md-4 mb-3">
                <HomeIcon Width="60px" Height="60px"/>
                <h5 class="mt-2">Gabrieland</h5>
                <small>Centro de eventos</small>
            </div>

            <!-- Enlaces importantes -->
            <div class="col-md-4 mb-3">
                <h6>Enlaces importantes</h6>
                <ul class="list-unstyled">
                    <li><a href="/reservas">Reservas</a></li>
                    <li><a href="/register">Registro</a></li>
                </ul>
            </div>

            <!-- Soporte -->
            <div class="col-md-4 mb-3">
                <h6>Soporte</h6>
                <ul class="list-unstyled">
                    <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
                    <li><a href="/contacto">Contáctanos</a></li>
                </ul>

                <div class="social-icons mt-2">
                    <a href="#"><i class="bi bi-x"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <hr class="bg-light" />

        <div class="d-flex justify-content-between small">
            <div>
                Copyright © 2025 Gabrielan't. All Rights Reserved. Designed and Developed by Gabrielan’t
            </div>
            <div>
                <a href="/terminos">Terms & Conditions</a> |
                <a href="/privacidad">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>